*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GreyishBlue: hsl(212, 23%, 69%);
  --LightGreyishBlue: hsl(210, 46%, 95%);
  --BodyFontSize: 15px;
}

.manrope-500 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.manrope-700 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  min-height: 100vh;
  background-color: var(--LightGreyishBlue);
}

p {
  font-size: var(--BodyFontSize);
  color: var(--DesaturatedDarkBlue);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-inline-size: 23.5rem;
}

.image-container {
  height: 15.5rem;
  overflow: clip;
}

#drawers {
  border-radius: 0.75rem 0.75rem 0 0;
  object-fit: cover;
  object-position: top center;
}

.card-content {
  display: grid;
  padding: 2.75rem 2.5rem 1.5rem 2.5rem;
  gap: 1.5rem;
}

h1, h2, .author-info p:first-child {
  color: var(--VeryDarkGrayishBlue);
  font-size: 1.1rem;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block-start: 1rem;
}
.author p:first-of-type {
  color: var(--VeryDarkGrayishBlue);
  font-size: 1rem;
}
.author p:last-of-type {
  color: var(--GreyishBlue);
}

.author-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.author-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.author-info {
  display: grid;
}

.share-button {
  border-radius: 50%;
  background-color: var(--LightGreyishBlue);
  cursor: pointer;
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}
.share-button img {
  height: 15px;
}

.share-popup {
  display: none;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  background-color: var(--VeryDarkGrayishBlue);
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.1rem 2.5rem;
}
.share-popup h2 {
  color: var(--GreyishBlue);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: var(--BodyFontSize);
  font-weight: 500;
}
.share-popup .social-media {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
}
.share-popup .social-media-img-container {
  display: flex;
  gap: 1.25rem;
}
.share-popup .social-media-img-container img {
  height: 1.3rem;
}
.share-popup .share-button {
  background-color: var(--DesaturatedDarkBlue);
}
.share-popup .share-button img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(17%) saturate(55%) hue-rotate(171deg) brightness(101%) contrast(97%);
}

@media screen and (min-width: 48rem) {
  body {
    padding: 5.5rem;
  }
  .card {
    grid-template-columns: 1.27fr 2fr;
    grid-template-rows: 1fr;
    max-inline-size: 53rem;
  }
  .card .image-container {
    height: inherit;
    overflow: clip;
  }
  .card #drawers {
    height: 100%;
    border-radius: 0.75rem 0 0 0.75rem;
    object-fit: cover;
    object-position: left center;
  }
  .card-content {
    padding-inline: 3rem;
    gap: 1rem;
  }
  .card-content h1 {
    font-size: 1.5rem;
  }
  .author {
    padding-block-start: 0;
  }
  .share-popup {
    display: none;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 6rem;
    right: -4.75rem;
    background-color: var(--VeryDarkGrayishBlue);
    width: 18rem;
    border-radius: 0.5rem;
    padding: 1.1rem 2.5rem;
    filter: drop-shadow(0 5px 6px var(--GreyishBlue));
  }
  .share-popup :after {
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -10px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid var(--VeryDarkGrayishBlue);
  }
  .share-popup .share-button {
    display: none;
  }
  .share-popup .social-media {
    justify-content: end;
  }
}

/*# sourceMappingURL=styles.css.map */
